SECRET_KEY=change-this-secret
GITHUB_USERNAME=pedrocnf
SITE_TITLE=TekForge
SITE_DOMAIN=tekforge.com.br
SITE_URL=https://tekforge.com.br
SITE_SUBTITLE=TekForge é um hub de tecnologia que reúne perfil profissional, projetos, materiais de ensino e aplicações.
ENVIRONMENT=development
APP_VERSION=v12-deploy
FLASK_DEBUG=false
GITHUB_CACHE_TTL_SECONDS=900
