project_id                   = "your-gcp-project-id"
region                       = "us-central1"
service_name                 = "tekforge"
artifact_registry_repository = "tekforge"
container_image              = "us-central1-docker.pkg.dev/your-gcp-project-id/tekforge/tekforge:latest"
app_version                  = "v12-deploy"
site_url                     = "https://tekforge.com.br"
site_domain                  = "tekforge.com.br"
github_username              = "pedrocnf"
